[Desktop Entry]
Type=Application
Name=cpc464emu
Comment=Amstrad cpc 464/664/6128 emulator
Comment[hu]=Amstrad cpc 464/664/6128 emulátor
Exec=cpc464emu
Icon=cpc464emu
Categories=Game;Emulator;
