
#include <winver.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION     2, 0, 9, 2
  PRODUCTVERSION  2, 0, 9, 2
  FILEFLAGSMASK   0
  FILEFLAGS       0
  FILEOS          VOS__WINDOWS32
  FILETYPE        VFT_APP
  FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "Comments", "Home page: http://sourceforge.net/projects/ep128emu/"
      VALUE "CompanyName", "Istvan Varga"
      VALUE "FileDescription", "ep128emu - Enterprise 64/128, Spectrum 48/128, and CPC 464/664/6128 emulator"
      VALUE "FileVersion", "2.0.9.2"
      VALUE "InternalName", "ep128emu"
      VALUE "LegalCopyright", "Copyright (C) 2003-2016, GPL v2 or later"
      VALUE "OriginalFilename", "ep128emu"
      VALUE "ProductName", "Ep128Emu"
      VALUE "ProductVersion", "2.0.9.2"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04E4
  END
END

101 ICON ".\\resource\\ep128emu.ico"
102 ICON ".\\resource\\zx128emu.ico"
103 ICON ".\\resource\\cpc464emu.ico"
